:root {
  --gray-100: #38343D;
  --gray-200: #686071;
  --gray-300: #797085;
  --gray-400: #F4EFFA;
  --gray-500: #FDFCFE;
  --gradient: linear-gradient(107.54deg, #935FD3, #9245F1);
  --red: #AA2222;
}